@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);


.bg-block{
  background-color: #36516C;
  padding: 50px 0 20px 50px;
  display: flex;
  flex-direction: column;
  color: white;
}

html, body {
  height: 100%;
}

body{
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background: #E5E5E5;
  font-family: "Montserrat", sans-serif;


}

.main{
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}




.sidebar{
  background-color: #36516C;
  color: #FFFFFF;
  font-family: "RocknRoll One", sans-serif !important;
  max-width: 400px;
}

.container{
  padding: 20px 20px 20px 40px;
}

.photo{
  object-fit: contain;
  margin: 20px 0 0 40px;
  width: 150px;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.contacts-wrapper{
  display: flex;
  align-items: center;
}
.contacts-wrapper:not(:last-child) {
  margin-bottom: 5px;
}

.container-contacts{
  margin-top: 50px;
}
.contacts-symbol{
  margin-right: 15px;
  font-weight: 700;
}
.contacts-symbol img {
  width: 20px;
  height: 20px;
  color: red;
}

.skills-list{
  font-size: 14px;
  line-height: 24px;
  list-style: none;
  padding: 0;
  list-style-position: inside;
  -moz-column-count: 2; 
  -webkit-column-count: 2; 
  column-count: 2;
  margin: 0;
  display: grid;
  
}
.skills-item {
  display: flex;
  align-items: center;
}

.skills-list li::before {
  width: 6px;
  font-size: 24px;
  content: "\2022";
  color: #FB6D3A;
  display: inline-block;
  width: 20px;
}

.contacts-item{
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}


.information-container p {
 width: max-content;
}



.right-container{
  color: #595959;
  font-size: 14px;
  padding: 0 50px 0 20px;
  background: #fff;
  
}

.headings{
  font-size: 22px;
  line-height: 27px;
  color: #000000;
}

.positionWork{
  font-size: 20px;
  line-height: 17px;
}

.MyName{
  font-size: 45px;
}

.work-header{
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.work-header  span{
  color: #FB6D3A;
}

.work-items{
  margin-bottom: 8px;
}

.work-term{
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #A8A8A8;
}

.project-items::marker{
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;

  color: #000000;
}

.projext-items {
  width: max-content;
}
.project-title {
  color: #FB6D3A;
  font-size: 18px;
}

.project-items a{
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  color: #595959;  
}
.project-items a:hover {
  text-decoration: underline;
}

.project-items span{
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;

  color: #000000;
}
.project-info {
  max-width: 570px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.list{
  padding: 0;
  list-style: none;
}

/* // */
.education-heading{
  margin-bottom: 11px;
}

.education-element-wrapper{
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(165, 156, 156);
}

.education-institution{
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  color: #FB6D3A;
}



.education-specialty{
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  color: #000000;
}

.education-term{
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 8px;
  color: #A8A8A8;
}
.container-SoftSkills,
.container-TechSkills  {
    background: #36516C;
}
.information-container  {
  padding: 20px 0 0 40px;
}
.projects-heading {
  margin: 0 0 5px 0;
}
.education-heading  {
  margin: 0 0 10px 0;
}
